<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">news</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            <li><a href="https://github.com/thaislip/mongoose-newsapp" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>